<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files main.installer.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files router.php>
    Order Allow,Deny
    Allow from all
</Files>